* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.CountChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.CountChart .statistics {
  margin-top: 18%;
  font-size: 50px;
  font-weight: 400;
}

.CountChart .graph-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  background-color: transparent;
}
