* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "TrelloFonts";
}

body {
  font-family: "TrelloFonts";
  background: var(--background-color-secondry);
}

button {
  font-family: "TrelloFonts";
}

button:focus {
  outline: none;
}

.App {
  background-color: var(--background-color-secondry);
}

.result-block-container .result-block {
  opacity: 1;
}

.ant-table-thead > tr > th {
  padding: 10px;
  height: 3.5em;
  font-size: 16px;
}
