* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "TrelloFonts";
}

.Insights {
  min-height: 100vh;
  background-color: #ffffff;
}

/* main page that holds side nav and page content */
.Insights .main-container {
  display: flex;
  min-height: 100vh;
  background-color: #eff3f6;
}

/* current page specific data container*/
.Insights .content-container {
  width: 100%;
  height: 100vh;
  /**
  background-color: #faf8fc;
  background-color: #f9fafc;
  background-color: #f6f7f9;
  */
  background-color: var(--background-color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-y: scroll !important;
}

/* Actual data goes here*/
.Insights .content {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 5vh;
  margin-bottom: 10px;
}

.header-h1 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: "TrelloFonts";
}

.header-p {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "TrelloFonts";
  font-style: normal;
}
